html {
  background-color: #4e87b2;
  padding: 50px;
}

* {
  color: #aecbe2;
}

.main {
  text-align: center;
}

img {
  margin-right: 20px;
  margin-bottom: 20px;
}

.details {
  display: grid;
  grid-template-columns: 220px auto;
}